# Ambiente virtual Python
venv/
.venv/
backend/venv/
backend/.venv/

# Cache Python
__pycache__/
*.pyc

# Node / React Native / Expo
node_modules/
app/node_modules/
.expo/
app/.expo/
dist/
build/
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Dados pesados
*.zip
*.wav
*.mp3
*.ogg
*.flac
*.m4a